<!-- WIADOMOŚĆ POWITALNA  -->
<section class="container text-center mt-5">
  <p class="h1">Odzyskaj hasło do konta</p>
</section>

<!-- POCZĄTEK FORMULARZA ODZYSKIWANIA HASŁA  -->
<section class="container bg-light p-5 mt-5 container-option">
  <form [formGroup]="recoveryForm">

    <section class="mb-lg-3"><!-- POLE EMAIL  -->
      <label for="email" class="form-label">E-mail</label>
      <input type="email"
             formControlName="email"
             class="form-control"
             aria-describedby="emailInfo"
             id="email"
             placeholder="name@email.com">
      <section id="emailInfo" class="form-text">Podaj zarejestrowany w serwisie adres Email</section>
      <!-- WALIDACJA POLA WPROWADZANIA EMAIL -->
      <div
        *ngIf="recoveryForm.get('email')?.invalid && (recoveryForm.get('email')?.touched || recoveryForm.get('email')?.dirty)">
        <small class="text-danger" *ngIf="recoveryForm.get('email')?.errors?.['required']">E-mail jest wymagany.</small>
        <small class="text-danger" *ngIf="recoveryForm.get('email')?.errors?.['email']">Podaj prawidłowy adres
          e-mail.</small>
      </div>
    </section>
  </form>

  <section class="text-end mt-4"> <!-- PRZYCISK LOGOWANIA  -->
    <button type="submit"
            class="btn btn-warning btn-custom font-monospace"
            style="font-weight: bold"
            [disabled]="recoveryForm.invalid">Odzyskaj hasło
    </button>
  </section>


</section>


<!-- POMOCNE LINKI -->
<section class="container container-option bg-primary bg-opacity-25 p-3 pt-4 mt-5 text-center">
  <p>Na podany przez Ciebie adres Email, zostanie wysłana wiadomość z linkiem do utworzenia nowego hasła.</p>
</section>
