<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-75">
  <section class="container-fluid">
    <a class="navbar-brand font-monospace">AplikacjaGantt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <section class="text-end collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto ">
        <li class="nav-item">
          <a class="nav-link options-btn"
             aria-current="page"
             routerLink=""
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item mx-1">
            <a class="btn btn-warning btn-custom font-monospace"
               routerLink="login-page"
               routerLinkActive="">Log in</a>
          </li>
          <li class="nav-item mx-1">
            <a class="btn btn-secondary  btn-custom font-monospace"
               routerLink="register-page">Register</a>
          </li>
        </ul>
      </form>

    </section>
  </section>
</nav>

